.aboutPageTitle {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    padding-top: 150px;
}

.aboutPageImgMain{
    width: 100%;
    height: 400px;
}

@media screen and (max-width:968px) {
    .aboutPageImgMain{
        height: 250px;
    }

    .aboutPageTitle{
        padding-top: 100px;
    }
}