.slidercontainer {
    height: 20px;
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
    color: gray;
    background: #1b1b1b;
    overflow: hidden;
    border-top: 1px solid #6d6d72;
    border-bottom: 1px solid #6d6d72;
}

.slider {
    margin: 0 40px;
    display: inline-block;
}

.slider_text {
    width: max-content;
    white-space: nowrap;
    overflow: hidden;
}
 
@media screen and (max-width: 768px) {
    .slidercontainer {
        margin-top: 20px;
        padding: 20px 0 50px 0;
    }

    .slider {
        font-size: 16px;
        margin: 0 10px;
    }
}
